{% load static %}
<html>
    <div class="wrapper"></div>
    <head>
        <title>Seth Ewald</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blogapp.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>


    <div class="page-header">
        {% if user.is_staff %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
         <img class="center" src="{% static "seth.png" %}" alt="Seth Ewald: Web Development Blog">
        <h5 align="right">Logged in as: {{ user.username }}</h5>
    </div>


    <ul class="topnav">
        <li><a href="http://127.0.0.1:8000"><img src="{% static "home.png" %}"></a></li>
        <li><a href="#about"><img src="{% static "about.png" %}"></a></li>
        <li><a href="#contact"><img src="{% static "contact.png" %}"></a></li>
        <li class="right"><a href="http://127.0.0.1:8000/signup/"><img src="{% static "signup.png" %}"></a></li>
        <li class="right"><a href="http://127.0.0.1:8000/signin/"><img src="{% static "signin.png" %}"></a></li>
    </ul>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>